.PortraitDisplayRoot
{
    horizontal-align: left;
    vertical-align: top;
    margin-top: 70px;
    margin-left: 50px;
    flow-children: down;
}

.Portrait
{
	width: 102px;
	height: 60px;
    margin-bottom: 10px;
    border:3px solid #DAA520;
}


#MasterManaPanel
{
	height: 30px;
	flow-children: right;
}

#MasterHealthPanel
{
	height: 30px;
	margin-top: 30px;
	flow-children: right;
}

#MasterStatusPanel
{
	margin-left: 120px;
	margin-top: -61px;
}
.MasterHealth
{
	width: 150px;
    color: #FFFFFF;
    text-shadow: 0px 0px 6px 8 #FF0000;
    font-size: 20px;
    font-weight: bold;
    horizontal-align: left;
}

.MasterMana
{
	width: 150px;
    color: #FFFFFF;
    text-shadow: 0px 0px 6px 8 #245191;
    font-size: 20px;
    font-weight: bold;
    horizontal-align: left;
}